
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="http://profiles.verifiedwork.com/css/bootstrap.min.css">
        <!-- Fonts from Font Awsome -->
        <link rel="stylesheet" href="http://profiles.verifiedwork.com/css/font-awesome.min.css">
         <!-- Magnific popup -->
        <link rel="stylesheet" href="http://profiles.verifiedwork.com/css/magnific-popup.css">
        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="http://profiles.verifiedwork.com/css/main.css">

        <!-- Color styles -->
        <link rel="stylesheet" href="http://profiles.verifiedwork.com/css/colors/blue.css">
       <!-- <link rel="stylesheet" href="css/colors/yellow.css">-->
       <!-- <link rel="stylesheet" href="css/colors/red.css">-->
       <!--  <link rel="stylesheet" href="css/colors/purple.css">-->
       <!--  <link rel="stylesheet" href="css/colors/orange.css">-->
       <!--  <link rel="stylesheet" href="css/colors/green.css">-->
        
         <!-- Feature detection -->
        <script src="http://profiles.verifiedwork.com/js/modernizr-2.6.2.min.js"></script>
        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Oxygen:400,700' rel='stylesheet' type='text/css'>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="js/plugins/html5shiv.js"></script>
          <script src="js/plugins/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
  <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav" id="main-menu">
            <li><a href="#page-welcome">Home</a></li>
            <li><a href="#page-profile">Profile</a></li>
            <li><a href="#page-skills">Skills</a></li>
            <li><a href="#page-education">Education</a></li>
            <li><a href="#page-experience">Experience</a></li>
            <li><a href="#page-portfolio">Portfolio</a></li>
            <li><a href="#page-contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
<style>
#page-education {
    padding: 2% 0;
    background: #fff;
}
</style>
<link rel="apple-touch-icon" sizes="57x57" href="fav/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="fav/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="fav/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="fav/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="fav/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="fav/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="fav/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="fav/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="fav/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="fav/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="fav/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="fav/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="fav/favicon-16x16.png">
<link rel="manifest" href="fav/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="fav/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<title> Subrayan - Web Developer Resume </title>
    <section id="page-welcome" class="page-welcome">
      <div>
          <ul class="slider-controls">
              <li><a id="vegas-next" class="next" href="#"></a></li>
              <li><a id="vegas-prev" class="prev" href="#"></a></li>
          </ul>
        </div>
        <div class="container">
            <div class="row">
                <header class="centered">
                     <h2>Subrayan</h2>
                    <p>Web Developer</p>
                </header>
                <div class="social-icons">
                        <a href="https://twitter.com/subrayan_gr" target="_blank" class="btn btn-round btn-clear btn-twitter"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.facebook.com/subbarayan.v.s.s" target="_blank" class="btn btn-round btn-clear btn-facebook"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.linkedin.com/in/subrayan-s-465a13a8?trk=nav_responsive_tab_profile" target="_blank" class="btn btn-round btn-clear btn-linkedin"><i class="fa fa-linkedin-square"></i></a>
                    
                </div>
                <a href="https://www.upwork.com/freelancers/~01705ea277051a3c6e" class="btn btn-default hire-me">Hire Me</a>
            </div>
        </div>
    </section><!-- welcome ends -->
    <!-- profile begins -->
    <section id="page-profile" class="page-profile">
      <div class="container">
                <header class="section-header">
                    <h2 class="section-title">Personal Profile</h2>
                    <div class="spacer"></div>
                    <p class="section-subtitle"></p>
                </header>
            <div class="row">
              <div class="col-md-3">
                 <div class="profile"><img src="img/subrayan.jpeg" alt="Subrayan" style="height:216px; width:220px;"/></div> 
              </div>
               <div class="col-md-9">
                <p><i class="fa fa-th-list"></i> &nbsp; I have a clear, logical mind with a practical approach to problem solving and a drive to see things through to completion. I have a great eye for detail. I am eager to learn, I enjoy overcoming challenges.</p>
                <p><i class="fa fa-th-list"></i> &nbsp; I have strong technical skills as well as excellent interpersonal skills. I am eager to be challenged in order to grow and improve my communication and professional IT skills.</p>
                <p><i class="fa fa-th-list"></i> &nbsp; I am an open-minded, friendly and resourceful project leader with a sound and optimistic outlook on all things in life. I posses an excellent ability to motivate others, coupled with the ability to communicate comfortably at all levels, therefore ensuring an excellent working environment for all members of the team to perform at their bests.</p>
		 <p><i class="fa fa-th-list"></i> &nbsp; I am a responsible, intelligent and experienced retail professional with an extensive background in fashion and children’s’ wear both in large departments and small boutiques. I am a creative, adaptable and bright individual with an excellent eye for detail and design.</p>
		
              </div>
            </div>
      </div> 
    </section><!-- profile ends -->
    <!-- skills begins -->
     <section id="page-skills" class="page-skills">
       <div class="container">
           
                 <header class="section-header">
                    <h2 class="section-title"><span>Skills</span></h2>
                      <div class="spacer"></div>
                    <p class="section-subtitle">My top most skills</p>
                </header>
            <div class="row">
               <div class="col-md-2 ">
               <span class="chart" data-percent="100">
                      <span class="percent"></span>
                      <h3>HTML5</h3>
               </span>
            </div>
               <div class="col-md-2">
               <span class="chart" data-percent="70">
                      <span class="percent"></span>
                       <h3>CSS</h3>
               </span>
            </div>
               <div class="col-md-2">
               <span class="chart" data-percent="90">
                      <span class="percent"></span>
                      <h3>jQuery</h3>
               </span>
            </div>
               <div class="col-md-2">
               <span class="chart" data-percent="90">
                      <span class="percent"></span>
                      <h3>Mysql</h3>
               </span>
            </div>
               <div class="col-md-2">
               <span class="chart" data-percent="80">
                      <span class="percent"></span>
                       <h3>PHP & Codeigniter</h3>
               </span>
            </div>
               <div class="col-md-2">
               <span class="chart" data-percent="67">
                      <span class="percent"></span>
                       <h3>Cordova</h3>
               </span>
            </div>
          </div><br>
	</div>
    </section><!-- skills ends -->
    <!-- education begins -->
    <section id="page-education" class="page-education">
       <div class="container">
                <header class="section-header">
                    <h2 class="section-title">Qualifications</h2>
                     <div class="spacer"></div>
                    <p class="section-subtitle">Educations Deatils </p>
                </header>
                <div class="row">
                 <div class="col-md-9">
                  <article class="education" style="margin-left:25%;">
                      <p><i class="fa fa-star"></i> &nbsp; Master of science in computer science - 2012 to 2014 (Sasurie College Of Arts & Science, Vijayamangalam). In my PG computer science I have got fitst class with 73% in 2014</p>
                    <p><i class="fa fa-star"></i> &nbsp; Bachelor of Computer Applications 2009 to 2012 (Erode Arts College, Erode). In my UG I have first class graduation with 66% in 2012</p>
			 <p><i class="fa fa-star"></i>  &nbsp; H.S.C at Government Higher secondary Scool Thirupur(DT). In my 12th state board exam I scored 70% and my computer science and physics marks are above 70% in 2009</p>

			 <p><i class="fa fa-star"></i>  &nbsp; Government High Schoool thippampalayam Erode(DT). I scored 70% in 10th state board exams in 2007</p>
                  </article>
                </div>
            </div>
       </div>
    </section><!-- education ends -->
    <!-- experience begins --> <section id="page-experience" class="page-experience">
       <div class="container">
                <header class="section-header">
                    <h2 class="section-title">Working Details</h2>
                     <div class="spacer"></div>
                    <p class="section-subtitle"> My experinece</p>
                </header>
                <div class="row">
                 <div class="col-md-9">
                  <article class="experience">
                    <header>
                      <h3><a href="http://grinfotech.com/"> GRInfotech</a></h3>
		      <p><b>Web Developer</b></p>
                      <p>September 2014- Present</p>
                      <p>We are a small team of excellent programmers.We set new standards in outsourcing experience & make future happen.</p>
                    </header>
                   </article>
                </div>

                 <div class="col-md-9">
                  <article class="experience">
                    <header>
                      <h3><a href="https://www.upwork.com/freelancers/~01705ea277051a3c6e"> Freelancing </a></h3>
		      <p><b>Web Developer</b></p>
                      <p>July 2016- Present</p>
                      <p>I also doing some small works on upwork with the permission from my working office. I do freelancing 4 hours in working days and 10 hours in both saturday and sunday. In a week I will work totally 30 hours on upwork. </p>
                    </header>
                   </article>
                </div>
               </div>
            </div>
    </section><!-- experience ends -->
    <!-- portfolio begins -->
     <section id="page-portfolio" class="page-portfolio">
          <div class="container">
            <div class="row">
                <header class="section-header">
                    <h2 class="section-title"><span>Portfolio</span></h2>
                      <div class="spacer"></div>
                    <p class="section-subtitle"> </p>
                </header>
           
                <div id="grid-controls-wrapper">
                <ul class="nav nav-pills center-pills grid-controls">
                  <li class="active filter"><a href="javascript:void(0)" data-filter="*">All</a></li>
                  <li class="filter" ><a href="javascript:void(0)" data-filter=".html">Html</a></li>   
		  <li class="filter" ><a href="javascript:void(0)" data-filter=".css">Css</a></li>   
                  <li class="filter" ><a href="javascript:void(0)" data-filter=".php">Php</a></li>     
		  <li class="filter" ><a href="javascript:void(0)" data-filter=".joomla">joomla</a></li>                  
		  <li class="filter" ><a href="javascript:void(0)" data-filter=".responsive">Responsive</a></li>
		  <li class="filter" ><a href="javascript:void(0)" data-filter=".mysql">Mysql</a></li>
		  <li class="filter" ><a href="javascript:void(0)" data-filter=".jquery">JQuery</a></li>
                </ul>
              </div>
            
                <div>
                  <ul id="grid" class="grid-wrapper">
                      <li class="mix html css php mysql jquery" >
                       <a href="http://profilesassets.verifiedwork.com/img/portfolio/large/01.png"><div class="overlay"><i class="fa fa-search"></i></div><img src="http://profilesassets.verifiedwork.com/img/portfolio/small/01.png"  alt="" >
                      </a> </li>
                      <li class="mix html css php mysql jquery">
                        <a href="http://profilesassets.verifiedwork.com/img/portfolio/large/02.png"><div class="overlay"><i class="fa fa-search"></i></div><img src="http://profilesassets.verifiedwork.com/img/portfolio/small/02.png" alt="" ></a></li>
                          <li class="mix html css php mysql jquery">
                        <a href="http://profilesassets.verifiedwork.com/img/portfolio/large/04.png"><div class="overlay"><i class="fa fa-search"></i></div><img src="http://profilesassets.verifiedwork.com/img/portfolio/small/04.png" alt="" ></a></li>
                      <li class="mix html css php mysql jquery">
                        <a href="http://profilesassets.verifiedwork.com/img/portfolio/large/05.png"><div class="overlay"><i class="fa fa-search"></i></div><img src="http://profilesassets.verifiedwork.com/img/portfolio/small/05.png" alt="" ></a></li>
			 <li class="mix responsive joomla">
                        <a href="http://profilesassets.verifiedwork.com/img/portfolio/large/06.png"><div class="overlay"><i class="fa fa-search"></i></div><img src="http://profilesassets.verifiedwork.com/img/portfolio/small/06.png" alt="" ></a></li>
                      <li class="mix php responsive html css javascript">
                        <a href="http://profilesassets.verifiedwork.com/img/portfolio/large/07.png"><div class="overlay"><i class="fa fa-search"></i></div><img src="http://profilesassets.verifiedwork.com/img/portfolio/small/07.png" alt="" ></a></li>
                      <li class="mix html css javascript responsive php mysql">
                        <a href="http://profilesassets.verifiedwork.com/img/portfolio/large/08.png"><div class="overlay"><i class="fa fa-search"></i></div><img src="http://profilesassets.verifiedwork.com/img/portfolio/small/08.png" alt="" ></a></li>  
			 <li class="mix html css javascript php mysql">
                        <a href="http://profilesassets.verifiedwork.com/img/portfolio/large/09.png"><div class="overlay"><i class="fa fa-search"></i></div><img src="http://profilesassets.verifiedwork.com/img/portfolio/small/09.png" alt="" ></a></li>  
			 <li class="mix html css javascript php mysql">
                        <a href="http://profilesassets.verifiedwork.com/img/portfolio/large/10.png"><div class="overlay"><i class="fa fa-search"></i></div><img src="http://profilesassets.verifiedwork.com/img/portfolio/small/10.png" alt="" ></a></li>  
			 <li class="mix html css php mysql">
                        <a href="http://profilesassets.verifiedwork.com/img/portfolio/large/11.png"><div class="overlay"><i class="fa fa-search"></i></div><img src="http://profilesassets.verifiedwork.com/img/portfolio/small/11.png" alt="" ></a></li>   
			<li class="mix html css php mysql responsive">
                        <a href="http://profilesassets.verifiedwork.com/img/portfolio/large/12.png"><div class="overlay"><i class="fa fa-search"></i></div><img src="http://profilesassets.verifiedwork.com/img/portfolio/small/12.png" alt="" ></a></li>  
<li class="mix wordpress php mysql jquery">
                        <a href="http://profilesassets.verifiedwork.com/img/portfolio/large/driftcross.png"><div class="overlay"><i class="fa fa-search"></i></div><img src="http://profilesassets.verifiedwork.com/img/portfolio/small/driftcross.png" width="200px" height="150px"alt="" ></a></li>
     			<li class="mix wordpress php mysql jquery">
                        <a href="http://profilesassets.verifiedwork.com/img/portfolio/large/groopspeck.png"><div class="overlay"><i class="fa fa-search"></i></div><img src="http://profilesassets.verifiedwork.com/img/portfolio/small/groopspeck.png" width="200px" height="150px"alt="" ></a></li>
			<li class="mix wordpress php mysql jquery">
                        <a href="http://profilesassets.verifiedwork.com/img/portfolio/large/ndot.png"><div class="overlay"><i class="fa fa-search"></i></div><img src="http://profilesassets.verifiedwork.com/img/portfolio/small/ndot.png" width="200px" height="150px"alt="" ></a></li>

			<li class="mix wordpress php mysql jquery">
                        <a href="http://profilesassets.verifiedwork.com/img/portfolio/large/spi.png"><div class="overlay"><i class="fa fa-search"></i></div><img src="http://profilesassets.verifiedwork.com/img/portfolio/small/spi.png" width="200px" height="150px"alt="" ></a></li>
<li class="mix wordpress php mysql jquery">
                        <a href="http://profilesassets.verifiedwork.com/img/portfolio/large/surestep.png"><div class="overlay"><i class="fa fa-search"></i></div><img src="http://profilesassets.verifiedwork.com/img/portfolio/small/surestep.png" width="200px" height="150px"alt="" ></a></li>

			<li class="mix wordpress php mysql jquery">
                        <a href="http://profilesassets.verifiedwork.com/img/portfolio/large/xtream.png"><div class="overlay"><i class="fa fa-search"></i></div><img src="http://profilesassets.verifiedwork.com/img/portfolio/small/xtream.png" width="200px" height="150px"alt="" ></a></li>
<li class="mix wordpress php mysql jquery">
                        <a href="http://profilesassets.verifiedwork.com/img/portfolio/large/gust.png"><div class="overlay"><i class="fa fa-search"></i></div><img src="http://profilesassets.verifiedwork.com/img/portfolio/small/gust.png" width="200px" height="150px"alt="" ></a></li>
   
                  </ul>
                </div>
<div class="col-md-3">
          <article class="experience">
            <header>
              <h3>Informs</h3>
            </header>
                  <p>Client: TechWisdom Info solution India Pvt Ltd</p>
		  <p>Languages : PHP-MySQL(Dynamic), Html-CSS-Jquery </p>
		  <p>Tool : Adobe Dreamweaver</p>
		  <p>Website : http://informss.com</p>
		  <p align="justify">It is Business Directory. This unique local search service is available on Phone, Web, WAP and SMS. The company bridges the gap between buyers and sellers by helping buyers find the right providers of products and services while helping sellers improve the efficiency of their marketing channels. </p>
          </article>
 </div>
 <div class="col-md-3">
           <article class="experience">
            <header>
              <h3>We do Associates</h3>
            </header>
                  <p>Client : TechWisdom Info solution India Pvt Ltd</p>
		  <p>Languages : PHP-MySQL(Dynamic), Html-CSS-Jquery  </p>
		  <p>Tool : Adobe Dreamweaver</p>
		  <p>Website : http://vdoassociates.com/</p>
		  <p align="justify">>We Do Associates is to become the most respected professionalized engineering services company providing turnkey services in fire protection, safety and security.</p>
          </article>
</div>
<div class="col-md-3">
        <article class="experience">
            <header>
              <h3>Pop TV</h3>
            </header>
                  <p>Client : TechWisdom Info solution India Pvt Ltd</p>
		  <p>Languages : PHP-MySQL(Dynamic), Html-CSS-Jquery  </p>
		  <p>Tool : Adobe Dreamweaver</p>
		  <p>Website : http://poptvkrishnagiri.in</p>
		  <p align="justify">>Pop Tv is one of the local channel which is passionate about helping small & medium sized businesses worldwide to grow using our affordable high quality Pop Television Network.</p>
          </article>
</div>
 <div class="col-md-3">
        <article class="experience">
            <header>
              <h3>Vijay’s Web Technologies</h3>
            </header>
                  <p>Client : TechWisdom Info solution India Pvt Ltd</p>
		  <p>Languages : Html-CSS-Jquery </p>
		  <p>Tool : Adobe Dreamweaver</p>
		  <p>Website : http://vijayswebtech.in</p>
		  <p align="justify">> It is a web development company with expertise in web design & development. We have to create crisp websites and innovative solutions for all your web needs.Our skilled people updated them self on regular market trend to provide the customers requirement accordingly. Worldwide have increasingly high expectations of digital experiences as we personalize and development software solutions for them. We have been developing web solutions for customers all around the world for the last decade.
</p>
          </article>
</div>
<div class="col-md-3">
        <article class="experience">
            <header>
              <h3>Broadcast</h3>
            </header>
                  <p>Client Name: Premanand Natarajan</p>
		  <p>Languages : Html-CSS-Joomla </p>
		  <p>Website : http://dev.broadcast.org</p>
		  <p align="justify">> This site is done on Joomla with Kaltura player backend.  This site is completely for video online selling and consulting where users can pay for the video they want to view and the video ranges from educational to consulting videos.   This project we had kaltura player integrated and also with paypal pro as the payment gateway. </p>
          </article>
</div>
<div class="col-md-3">
        <article class="experience">
            <header>
              <h3>LCAS</h3>
            </header>
                  <p>Client Name: Sherri Emmert</p>
		  <p>Languages : Html-CSS-Jquery-Php-Mysql </p>
		  <p> Website : http://dev.lcasinc.net/</p>
		  <p align="justify">> The complete lead tracking system done for Rainbow system.  The project has appointment tracking, call tracking system, task management, team management and contact managements.   The system has dynamic generation of forms for referrals and campaign management.   The system has inbuilt workflow added from campaingn to customer management and also it has complete training tracking system for the employers and lead dealers.</p>
          </article>
</div>
<div class="col-md-3">
        <article class="experience">
            <header>
              <h3>Verizon</h3>
            </header>
                  <p>Client Name: Stephanie Atkinson</p>
		  <p>Languages : Html-CSS-Javascript-Php-Mysql </p>
		  <p> Website : http://verizon.compassintelligence.com</p>
		  <p align="justify">> This portal is developed for compassintelligence.com backend work where we analyze other companies and add scores every month. Compass Intelligence - A decision analytics research and consulting firm - redefines market intelligence and consulting.  Our services include strategy acceleration, consulting and ideation services, market segmentation, market research/intelligence, and competitive analysis in the telecom, mobile, IT, M2M, and network markets. </p>
          </article>
</div> 
<div class="col-md-3">
        <article class="experience">
            <header>
              <h3>A5900</h3>
            </header>
                  <p>Client Name: SSLF</p>
		  <p>Languages : Html-CSS-Javascript-Php-Mysql </p>
		  <p> Website :http://www.sslfcity.in</p>
		  <p align="justify">> This system is developed for the backend work of sslfcity.in where they have lots of plots and apartments sold.  This system tracks complete payment, booking, cancellation at the backend.   This system will generate automatic invoice and sends customers on the payment and also have incentive generation for the sales person. </p>
          </article>
</div>
</div>
<div class="row">
<div class="col-md-3">
        <article class="experience">
            <header>
              <h3>Dynamic website for Arokia Madha Shrine, vadugarpet</h3>
            </header>
                  <p>Client Name: Parish Priest, Arokia Madha Shrine, Vadugarpet.</p>
		  <p>Languages :HTML-CSS-JQuery-Javascript-PHP-MySql </p>
		  <p> Website : http://www.arokiamadhavadugarpet.org</p>
		  <p align="justify">> This website developed for Arokia Madha Shrine, vadugarpet, Trichy District. This website enbable the viewer to know up-to-date information about the shrine events and history of the shrine. The viewers can make prayer requests for their intentions through this website and the requests are pray during the mass and special prayer services. The Photo gallery contains the up-to-date events photos are uploaded in admin panel to share.
 </p>
          </article>
</div>
<div class="col-md-3">
        <article class="experience">
            <header>
              <h3>Arockiam</h3>
            </header>
                  <p>Client Name: Dr. L. Arockiam</p>
		  <p>Languages : HTML-CSS-Javascript-PHP-MySql </p>
		  <p> Website : http://www.arockiam.in/</p>
		  <p align="justify">> This dynamic site developed for Dr. L. Arockiam who is working as Associate Professor in St.Joseph's College Trichy. Showing details of research articles in the International / National Conferences and Journals published by him. This dynamic website enable him to communication all the students who are willing to do research in computer science. This site is Search Engine Optimized. Having the admin panel to update the information about publications in varoius conferences, journals, resourceful activities, photo gallery and MPhil students guided details.</p>
          </article>
</div>
<div class="col-md-3">
        <article class="experience">
            <header>
              <h3>St. Arulanandar Higher Secondary School, Oriyur</h3>
            </header>
                  <p>Client Name: St. Arulanandar Higher Secondary School, Oriyur</p>
		  <p>Languages :  HTML-CSS-Javascript-PHP-MySql </p>
		  <p> Website :http://arulanandarhss.org/</p>
		  <p align="justify">> This website developed for St. Arulanandar Higher Secondary School, Oriyur. This website enables all the informations and activities carried out in school and share it to web. Online Alumni assocation for alumnies of the school can communicate with the school and make interaction between them.
It displays History of the school, management, Administration, faculties, facilities available in the school, sports activities and achivements of the shcool. Photo Gallery shows the latest events updates with sample screens.
 </p>
          </article>
</div>
	</div>
          </div>
        </div>
    </section><!-- portfolio ends -->
    <!-- contact begins -->
     <section id="page-contact" class="page-contact">
          <div class="container">
              <header class="section-header">
                  <h2 class="section-title" ><span>Contact</span></h2>
                    <div class="spacer"></div>
                       <p class="section-subtitle"> </p>
              </header>
        <div class="row">




        </div><!-- End row -->

        </div>
    </section> <!-- contact ends -->
        <script src="http://profiles.verifiedwork.com/js/jquery-1.10.2.min.js"></script>
        <script src="http://profiles.verifiedwork.com/js/bootstrap.min.js"></script>
        <script src="http://profiles.verifiedwork.com/js/jquery.scrollTo.js"></script>
        <script src="http://profiles.verifiedwork.com/js/jquery.nav.js"></script>
        <script src="http://profiles.verifiedwork.com/js/jquery.sticky.js"></script>
        <script src="http://profiles.verifiedwork.com/js/jquery.easypiechart.min.js"></script>
        <script src="http://profiles.verifiedwork.com/js/jquery.vegas.min.js"></script>
        <script src="http://profiles.verifiedwork.com/js/jquery.isotope.min.js"></script>
        <script src="http://profiles.verifiedwork.com/js/jquery.magnific-popup.min.js"></script>
        <script src="http://profiles.verifiedwork.com/js/jquery.validate.js"></script>
        <script src="http://profiles.verifiedwork.com/js/waypoints.min.js"></script>
        <script src="http://profiles.verifiedwork.com/js/main.js?ver=1.2"></script>
    </body>
</html>
